html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    background-color: #e1e9f4;
}

.content {
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.container.my-3 {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}